# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
experimental/online/online
experimental/selfplay/selfplay
experimental/sm/sm
sm/_test_main

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VS Code debugging
.vscode
debug

# AI artifacts
.claude
.superpowers
